body.dark-mode {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  
}

body.light-mode {
  background-color: #d8e6eb;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  text-align: center;
}

ul, .lista {
  width: 35%;
}

img {
  border: 1px solid wheat;
  display: flex;
  margin: auto;
}

nav, a {
  color: inherit;
}

#video {
  justify-content: center;
  display: flex;
}

iframe {
  display: flex;
  margin: auto;
}

h1, nav, a, footer p {
  color: inherit;
}

#theme-toggle {
  width: 120px;
  height: 35px;
  display: block;
  margin-right: 20px;
  margin-left: auto;
}